<div class="panel panel-file-loading">
  <h3>File loading</h3>
  <div class="panel_contents">
    <%= form_tag admin_emails_from_file_create_path, multipart: true do %>
      <%= file_field_tag 'file' %>
      <%= submit_tag 'Load Invitations' %>
    <% end %>

    <%= link_to 'Download example', admin_emails_from_file_download_example_path, class: 'download-example' %>
  </div>
</div>

<% if result.present? %>
  <div class="panel panel-result">
    <h3>Result</h3>
    <div class="panel_contents">
      <% result.rows.order(:row).each do |row| %>
        <div class="row row-<%= row.status %>">
          <p>Row <%= row.row %>: <%= row.message %></p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
